
.card-header-orange {
    background: var(--primary-orange) !important;
    color: white !important;
}

.alert-orange {
    background-color: rgba(204, 85, 0, 0.1);
    border: 1px solid var(--light-orange);
    color: var(--dark-orange);
}

.btn-cancel-delivery {
    background: var(--primary-orange);
    border: 1px solid var(--primary-orange);
    color: white;
}

.btn-cancel-delivery:hover {
    background: var(--dark-orange);
    border: 1px solid var(--dark-orange);
    color: white;
}
