<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Test Backend</title>
</head>
<body>

    <h1>Liste de restaux avec filtres</h1>

    <form action="/stats/" method="get">
        <label for="base">Resto :</label>
        <select name="base" id="base">
            <option value="restaurant">Restaurant</option>
            <option value="zone">Secteur</option>
            <option value="general">Vue Générale</option>
        </select><br><br>

        <label for="temporal">Période :</label>
        <select name="temporal" id="temporal">
            <option value="day">Jour</option>
            <option value="month">Mois</option>
            <option value="year">Année</option>
        </select><br><br>

        <label for="content">Contenu :</label>
        <select name="content" id="content">
            <option value="revenue">Chiffre d'Affaire</option>
            <option value="orders">Nombre de Commandes</option>
        </select><br><br>

        <label for="selected_id">ID (restaurant/zone, optionnel) :</label>
        <input type="text" name="selected_id" id="selected_id"><br><br>

        <button type="submit">Filtrer</button>
    </form>
</body>
</html>
